:root {
  --nav-width: 200px;
  --nav-height: 60px;
  --gutter: 20px;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0px;
    padding:0px;
    background-color: #2C2C2C;
    color: white;
}

h1{
    color:#FFA500;
}

.grid{
    display: flex;
    flex-direction: column; /* default mobile layout */
    min-height: 100vh;
}

.main{               
    max-width: none;           
    flex: 1;                    
    padding: 40px;
}

.app-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--nav-height);
    background: #2C2C2C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #808080;
    z-index: 1000;
}

.app-nav .tab {
    color:white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
}

.app-nav .tab:hover {
  font-weight: bold;
  border-radius: 10px;
}

.tab-icon {
  width: 32px;
  height: 32px;
  fill: white;
  display: inline-block;
}

.tab-label {
  display: none;
}

.app-nav .tab svg {
  fill: white;          /* default icon color */
  transition: fill 0.3s ease;
}

.app-nav .tab.active svg {
  fill: #FFA500;       /* orange accent color for active icon */
  stroke-width: 0.5;
  stroke: #FFA500;
}

#searchInput {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 5px;
  border: solid white;
  background: #444;
  color: white;
  box-sizing: border-box;
  width: 80%;
}

#searchInput:focus {
  border-color: white;
}

#search-container {
  position: sticky;
  top: 0;
  background-color: #2C2C2C; /* match your background so it blends */
  padding: 10px 0;
  z-index: 100; /* so it stays above other content */
  border-bottom: 1px solid #444; /* optional, to visually separate */
}

.monster-card {
  display: flex;
  gap: 10px; /* space between fields */
  padding: 10px;
  border-bottom: 1px solid #555;
  margin-bottom: 10px;
  color: white;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.monster-card > p{
  margin: 0;
  padding: 4px 4px;
  overflow-wrap: break-word;
  flex-shrink: 0;
  font-size: 1rem;
}

.monster-card > p {
  flex-basis: 100px; /* fixed width for CR, Type, Source */
  flex-shrink: 0;
  font-size: 1rem;
}

@media (min-width: 768px) {
    .grid{
        flex-direction: row;
    }
  .app-nav {
    position:relative;
    width: var(--nav-width);
    height: 100%;
    flex-direction: column;
    border-top: none;
    border-right: 1px solid #808080;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 50px;
  }
  .app-nav .tab {
    width: 80%;
    text-align: left;
  }
  .left-pane{
    padding-left: clamp(0px, 10%, 10%);
}
.main{
    padding-right: clamp(0px, 10%, 10%);
}

.tab-icon {
    display: none;
  }

  .tab-label {
    display: inline-block;
    margin-left: 10px;
  }
}